
main2{
  background-color: #f2f2f2;
  .bg-title{
    @include mixin-bg-title;
    h2{
      line-height: 23.13px;
      padding: 97px 0 35px;
      margin-left: -2px;
      position: relative;
      z-index: 2;
      word-spacing: -5px;
      letter-spacing: 2px;
    }
  }
  .program{
    display: flex;
    flex-wrap: wrap;
    .home{
      margin-top: -29px;
      position: relative;
      box-shadow:-2px 3px 3px #876f6f;
      width: 72.8%;
      background-color: #fff;
      padding-bottom: 60px;
      margin-bottom: 81.5px;
      padding: 0 11px;
      ul {
        padding-top: 12px;
        display: flex;
        padding-left: 3px;
        margin-bottom: 0;
        padding-bottom: 14px;
        border-bottom: 1px dotted #e6e6e6;
        li {
         padding-top: 2px;
         list-style-type: none;
         a {
          text-decoration: none;
          font-size: 13px;
          font-family: 'Lato', sans-serif;
          color: #000000;
          word-spacing: 1px;
        }
        span {
         margin: 0 9.6px 0 11px;
       }
     }
     li:first-child {
      a{
        color: #f1a342;
      }
    }
  }
  .text-img{
    display: flex;
    .text{
      flex:0 0 48%;
      max-width: 0 0 48%;
      margin-top: 28.5px;
      h5 {
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        color: #f1a342;
        margin-bottom: 6px;
        word-spacing: 1.5px;
      }
      p{
        font-size: 13px;
        font-family: 'lato',sans-serif;
        color: #000000;
        margin-bottom: 0;
        line-height: 2;
        word-spacing: 1.8px;

      }
    }
    .img{
      max-width: 100%;
    }
  }
  p{
    font-size: 13px;
    font-family: 'lato',sans-serif;
    color: #000000;
    margin-bottom: 0;
    line-height: 2;
    word-spacing: 1.8px;
  }
  .p2{
    margin-top: 6px;
  }
  img{
    max-width: 100%;
    margin-top: 22px;
    margin-bottom: 23px;
  }
  .training-industry{
    padding-bottom: 58px;
    padding-left: 4px;
    h5{
     font-size: 18px;
     color: #ef9200;
     font-size: 18px;
     color: #ef9200;
     margin-top: 45px;
     margin-left: 1px;
     margin-bottom: -4px;
   }
   .industry{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 16px;
    .item{
      .image{
        a{
          display: block;
          img{
            width: 100%;
            height: 169px;
          }
        }
      }
      .content{
        text-align: center;
        p{
          font-size: 13px;
          font-family: 'lato',sans-serif;
          color: #000000;
          line-height: 1.7;
          word-spacing: 1.8px;
          margin-top: -9px;
          margin-left: -10px;
        }
      }
    }
  }
}
}
.educate{
  width: 27.2%;
  .training{
    @include mixin-training; 
  }
  .box-text{
        margin-top: 35px;
        margin-right: -15px;
          .title-out{
            padding: 5px;
            border-radius: 17px;
            background-color: #fff;
            box-shadow: 0 0 9px #000;
            position: relative;
            z-index: 2;
            margin-bottom: 47px;
            &::after{
              content: "";
              position: absolute;
              top: 55%;
              left: 23%;
              margin-left: -10px;
              border-width: 40px 80px 40px 80px;
              border-style: solid;
              border-color: #fff transparent transparent transparent;
              transform: rotate(145deg);
              z-index: -2;
            }
            .title-in{
             border-radius: 17px;
             text-align: center;
             background-color: #2b2a2a;
             color: #eaeaea;
             position: relative;
             z-index: 1;
             img{
                padding-top: 7px;
             }
             p{
              background: #2b2a2a;
              font-size: 14px;
              text-align: left;
              padding: 9px 19px 32px;
              line-height: 1.7;
            }
            &::after{
              content: "";
              position: absolute;
              top: 56%;
              left: 27%;
              margin-left: -10px;
              border-width: 35px 75px 35px 75px;
              border-style: solid;
              border-color: #000 transparent transparent transparent;
              transform: rotate(145deg);
              z-index: -1;
            }
          }
        }
        p{
          font-size: 13px;
          text-transform: capitalize;
          padding: 0 17px;
        }
        @media screen and(max-width: 576px){
          margin-bottom:30px;
          .title-out{
            &::after{
              left:23%;
            }
            .title-in{
              &::after{
              left:25%;
            }
            }
          }
        }
        @media screen and(min-width: 768px){
          margin-bottom:0;
          padding:0 20px;
          .title-out{
            box-shadow: 0 0 3px #000;
            &::after{
              left:0;
              top: 66%;
            }
            .title-in{
              &::after{
              left: 5%;
                top: 67%;
              }
            }
          }
        }
        @media screen and(min-width: 992px){
          margin-bottom:0;
          padding:0;
          .title-out{
            box-shadow: 0 0 9px #000;
            &::after{
              top: 55%;
              left: 23%;
            }
            .title-in{
              &::after{
               top: 56%;
              left: 27%;
              }
            }
          }
        }
      }
    }
  }
}
@include mixin-reponsive-content