.header_top {
  background: #f2f2f2;
  padding: 10px 0;
  /* header_top */ }
  .header_top > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media only screen and (max-width: 576px) {
      .header_top > .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    .header_top > .container a {
      display: block; }
      .header_top > .container a img {
        max-width: 168px; }
    .header_top > .container p {
      line-height: 24px;
      font-size: 13px;
      font-weight: 400;
      padding-top: 15px;
      max-width: 226px;
      text-align: center;
      word-spacing: 0.7px;
      margin-right: 4px; }

.menu {
  background: #201f1f;
  line-height: 24px; }
  .menu .btn_nav_bar {
    display: none;
    color: #fff;
    font-size: 25px;
    padding: 12px 0; }
    @media only screen and (max-width: 992px) {
      .menu .btn_nav_bar {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex; } }
    @media only screen and (min-width: 992px) {
      .menu .btn_nav_bar {
        display: none; } }
  @media only screen and (max-width: 768px) {
    .menu ul {
      display: none;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media only screen and (min-width: 768px) {
    .menu ul {
      display: none;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media only screen and (min-width: 992px) {
    .menu ul {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }
  .menu ul li:first-child .nav-link {
    display: block;
    padding-left: 0px;
    letter-spacing: 0.01em;
    padding-right: 15px; }
    @media only screen and (min-width: 992px) {
      .menu ul li:first-child .nav-link {
        padding-left: 0 !important; } }
  .menu ul li:last-child .nav-link {
    padding-left: 14px; }
  .menu ul li .nav-link {
    padding: 17px 15px 9px 12px;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    word-spacing: 6px; }
    @media only screen and (max-width: 992px) {
      .menu ul li .nav-link {
        padding-left: 0 !important;
        padding-right: 0; } }
    @media only screen and (min-width: 992px) {
      .menu ul li .nav-link {
        padding-left: 12px !important;
        padding-right: 15.3px; } }
    .menu ul li .nav-link::after {
      content: "";
      height: 2px;
      background: #f2f2f2;
      width: 0;
      display: block;
      -webkit-transition: all 0.6s;
      -o-transition: all 0.6s;
      transition: all 0.6s; }
    .menu ul li .nav-link:hover::after {
      width: 100%; }

.nav-scoll {
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-animation: toku 1s linear;
  animation: toku 1s linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 1000;
  -webkit-box-shadow: 0px 2px 20px #2b410c;
  box-shadow: 0px 2px 20px #2b410c; }
  @media screen and (max-width: 576px) {
    .nav-scoll {
      position: initial; } }

@-webkit-keyframes toku {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 1000; } }

@keyframes toku {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 1000; } }

.cuc {
  background-color: #e83e2a;
  display: inline-block; }
  .cuc a {
    padding: 50px; }

#back-to-top {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background-color: #6e6f6a;
  right: 1%;
  bottom: 3%;
  position: fixed;
  text-align: center;
  vertical-align: middle;
  font-size: 1.4rem;
  color: #e2e2f8; }

.back-to-top-opacity0 {
  opacity: 0; }

/* end menu */

/*# sourceMappingURL=_header.css.map */