*{
	margin:0 ;
	padding:0;

}
.container{
	width:1140px;
	margin:0 auto;
}
/*star header*/
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
body{
	font-family: 'Poppins', sans-serif;
}
.header-boss{
	background-color: #434343;
	.header{
		display: flex;
		li{
			list-style: none;
		}
		a{
			text-decoration: none;
			color: #fff;
		}
		p{
			display: inline-block;
			color: #fff;
			text-transform: capitalize;
		}
		.usd-heft{
			width: 50%;
			ul{
				display: flex;
				padding: 16px 0;
				li:first-child{
					display: block;
					padding: 3px 10px;
					#dropdown-header{
						display: inline-block;
						position: relative;
						.dropbtn{
							display: inline-block;
							&::after{
								margin-right: 7px;
								margin-left: 7px;
								content: "";
								display: inline-block;
								border-width: 3px;
								border-style: solid;
								border-color: #fff transparent transparent transparent;
							}
						}
						&:hover{
							.dropdown-content{
								display: block;
							}
						}
						#dropdown-content-header{
							position: absolute;
							display: none;
							padding: 9px;
							background: #7f7f7f;
							width: 50px;
						}
					}
				}
				li:nth-child(3){
					display: block;
					padding: 3px 10px;
					#dropdown-header3{
						display: inline-block;
						position: relative;
						.dropbtn{
							display: inline-block;
							&::after{
								margin-right: 7px;
								margin-left: 7px;
								content: "";
								display: inline-block;
								border-width: 3px;
								border-style: solid;
								border-color: #fff transparent transparent transparent;
							}
						}
						&:hover{
							.dropdown-content{
								display: block;
							}
						}
						#dropdown-content-header3{
							position: absolute;
							display: none;
							padding: 9px;
							background: #7f7f7f;
							width: 50px;
						}
					}

				}
				li:nth-child(2){
					border-right: 1px solid #fff;
					border-left: 1px solid #fff;
					box-sizing: border-box;
					display: block;
					padding: 3px 10px;
					#dropdown-header2{
						display: inline-block;
						position: relative;
						.dropbtn{
							display: inline-block;
							&::after{
								margin-right: 7px;
								margin-left: 7px;
								content: "";
								display: inline-block;
								border-width: 3px;
								border-style: solid;
								border-color: #fff transparent transparent transparent;
							}
						}
						&:hover{
							.dropdown-content{
								display: block;
							}
						}
						#dropdown-content-header2{
							position: absolute;

							display: none;
							padding: 9px;
							background: #7f7f7f;
						}
					}
				}
			}
		}
	}
}
.login-rigister{
	width: 50%;
	ul{
		display: flex;
		padding: 16px 0;
		justify-content: flex-end;
		li{
			.login1{
				padding: 5px 10px;
			}
		}
		li:nth-child(3){
			#dropdown{
				display: inline-block;
				position: relative;
				padding: 3px 10px;
				top: 5px;
				span{
					display: inline-block;
				}
				&:hover{
					.dropdown-content{
						display: block;
					}
				}
				#dropdown-content{
					position: absolute;
					display: none;
					padding: 9px 15px;
					background: #7f7f7f;
					z-index: 1;
					width: 55px;
					text-align: center;
					right: -21px
				}
			}
		}
	}
}	
.header2-boss{
	background-color: #363636;
	.header2{
		
		display: flex;
		justify-content: space-between;
		.header2-left{
			padding: 50px 0;
			p{
				display: inline-block;
				color: #fff;
				font-size: 17px;
				padding-left: 13px;
			}
		}
		.header2-center{
			padding: 32px 0;
		}
		.header2-right{
			margin-top: 45px ;
			background-color: red;
			width: 45px;
			height: 45px;
			display: inline-block;
			position: relative;
			img{
				position: absolute;
				top: 10px;
				left: 10px;
			}
			.header-right2-round{
				width: 26px;
				height: 26px;
				background-color: red;
				border-radius: 50%;
				position: absolute;
				background-color: #363636;
				bottom: 10px;
				left: 35px;
			}
			span{
				color:#fff;
				position: absolute;
				top: 4px;
				left: 8px;
				display: inline-block;
			}
		}
	}
}
/*end header*/
/*star menu*/
.search-menu1{
	box-shadow: 1px 3px 38px #000;
	position: relative;
	.search-menu{
		display: flex;
		.search{
			display:flex;
			padding: 21px 0;
			box-sizing: border-box;
			width:50%;
			#dropdown-search{
				display: inline-block;
				position: relative;
				border: 1px solid #000;
				border-right:none;
				span{
					display: inline-block;
					padding: 16px;
					border-right: 0;
				}

				&:hover{
					.dropdown-content{
						display: block;
					}
				}

				#dropdown-content-search{
					position: absolute;
					display: none;
					padding: 9px 15px;
					background: #7f7f7f;
					width: 50px;
					a{
						text-decoration: none;
					}
				}
			}
			select{
					padding: 16.3px 0;
					border:1px solid #000;
				}
			.form{
				position: relative;
				input{
					border: 1px solid #000;
					font-size: 21px;
					background-color: #fff;
					padding: 16px 50%;
					border-left: none;
				}
				a{
					position: absolute;
					bottom:18px;
					left: 390px;
				}
			}
		}
		.menu{
			width: 50%;
			display: flex;
			justify-content: flex-end;
			ul{
				display: flex;
				li{
					list-style: none;
					border-top:4px solid #fff;
					padding: 32px 16px 36px;
					font-size: 14px;
					text-transform: uppercase;
					transition: 0.6s;
					&:hover{
						border-top:4px solid #000;
						background-color: #d58e32;
						transform: scale(1.05);
						position: relative;
						box-shadow:-3px 2px 10px #000;
					}
					a{
						text-decoration: none;
						color: #000;
					}
				}
			}
		}
	}
}
/*end menu*/
/*star home-furniture-boss*/
.home-furniture-boss{
	background-color: #7f7f7f;
	.home-furniture{
		display: flex;
		padding: 30px 0 285px;
		.home-furniture-left{
			width: 50%;
			a{
				text-transform: uppercase;
				text-decoration: none;
				color: #fff;
			}
		}
		.home-furniture-right{
			width: 50%;
			display: flex;
			justify-content: flex-end;

			a{
				text-transform: capitalize;
				text-decoration: none;
				color: #fff;
				margin-right: 13px; 
			}
			span{
				padding-right: 13px;
			}
		}
	}
}
/*end .home-furniture-boss*/
/*star shop-produst*/
/*sao ratting*/
.br-wrapper{
	display: inline-block;
}
/*sao ratting*/
.shop-produst{
	padding: 19px 0 38px;
	border: 1px solid #939393;
	display: flex;
	position: relative;
	bottom: 244px;
	background: #fff;
	.xzoom-container{
		width: 40%;
		display: inline-block;
		margin-left: 19px;
		.xzoom{
			height: 589px;
			width: 100%;
			box-shadow: initial;
			border:1px solid #f4f5f7;
		}
		.thumbs{
				display: flex;
				justify-content: space-between;
				margin-top: 27px;
				img{
					width: 100%;
					height: 103px;
					width: 89px;
					border: none;
				}
			
			.owl-dots{
				display: none;
			}
			.owl-nav{
				display: block;
				button:first-child{
					position: absolute;
					left: -16px;
					top: 32px;
					font-size: 18px;
					
				}
				button:last-child{
					position: absolute;
					right: -16px;
					font-size: 18px;
					top: 32px;

				}
				span{
						padding: 2px 7px;
						border: 1px solid;
					}
			}
		}
	}
	.shop-produst-details{
		margin-left: 30px;
		width: 60%;
		.shop-produst-details1{
			display: flex;
			justify-content: space-between;
			padding-top:29px;
			.shop-produst-details1-left{
				p:first-child{
					font-size: 22px;
					padding-bottom: 18px;
				}
				.star{
					padding-bottom: 17px;

					p{
						display: inline-block;
						font-size: 12px;
						border-left: 1px solid;
						padding: 0 11px;
					}
				}

			}
			i{
			&:active{
							color:red;
						}
					}
			.shop-produst-details1-right{
				position: relative;
				top:9px;
				margin-right: 27px;
				a{
					border: 1px solid;
					padding: 6px 15px;
					margin-top: 41px;
					margin-left: 9px;
					&:hover{
						background-color:red;
					}
				}

			}
		}
	}
	.line{
		border-bottom:2px solid  #939393;
	}
	.shop-produst-details2{
		padding: 22px 0;
		p{
			display: inline-block;
		}
		p:first-child{
			font-size: 20px;
			text-decoration: line-through;
			color: #939393;
		}
		p:last-child{
			padding: 8px;
			font-size: 600;
			font-size: 22px;
			border: 1px solid #2a2a2a;
			background-color: #2a2a2a;
			color:#fff;
		}
	}
	.shop-produst-details3{
		padding: 22px 0;
		.add-to-cart{
			padding-bottom: 23px;
			a:first-child{
				padding: 10px 9px;
				background-color: #d58e32;
				font-size: 13px;
				display: inline-block;
				text-transform: uppercase;
				text-decoration: none;
				border: 2px solid #d58e32;
				p{
					display: inline-block;
				}
			}
			a{
				padding: 10px 9px;
				border: 2px solid #000;
			}
		}
		.quantity{
			h5{
				font-size: 14px;
				text-transform: capitalize;
				display: inline-block;
			}
			span{
				padding: 12px 31px;
				border: 2px solid #000;
				margin-left: 42px;
			}
			button{
				padding: 12px;
				&:active{
					background:red;
				}
			}
		}
	}
	.shop-produst-details4{
		padding: 22px 0;
		h4{
			font-size: 14px;
			text-transform: capitalize;
			padding-bottom:15px; 
		}
		p{
			font-size: 13px;
		}
		h4:last-child{
			p{
				padding-left:45px;
			}
		}
	}
	.shop-produst-details5{
		padding: 22px 0;
		h4{
			font-size: 14px;
			font-weight: bold;
		}
		h4:last-child{
			padding-top: 19px;
			p{
				padding-left: 45px;
			}
		}

		p{
			font-size: 14px;
			display: inline-block;
			font-weight: 400;
			padding-left:32px;
		}
	}
	.shop-produst-details6{
		display: flex;
		padding-top: 27px;
		p{
			padding: 12px 10px;
			border: 1px solid #3b5998;
			margin-left: 4px;
			display: inline-block;
			font-size: 13px;
			span{
				margin-left: 15px;
				margin-right: 10px;
			}
			&:hover{
				background-color: #3b5998;
			}
		}
		
	}
}

/*end shop-produst*/
/*star review*/
.review{
	border: 1px solid #3b5998;
	margin-top: -190px;
	margin-bottom: 87px;
	ul{
		display: flex;
		li{
			list-style-type: none; 
			border: 1px solid #3b5998;
			padding: 23px;
			border-top: none;
			border-radius: 2%;
			border-left: none; 
			a{
				text-decoration: none;
				text-transform: uppercase;
				color: #000;
				font-weight: bold;
			}
			.review-1{
				text-decoration: none;
				padding: 23px;
				text-transform: uppercase;
				font-weight: bold;
				color: #3b5998;
			}
		}
		.active{
			border-bottom:none;
			a{
				color: red;
				font-weight: bold;
				text-decoration: none;
				transform: scale3d(1.1);
				transition: 0.3s;
			}
		}
	}
	.content{
		padding-left: 35px;
		p:first-child{
			font-size:14px;
			padding-top:32px;
			padding-bottom: 35px; 
		}
		h4{
			padding-bottom: 34px;
			font-size:16px; 
		}
		p:nth-child(2){
			padding-bottom: 20px;
			font-size:16px;
		}
		.review-star{
			p:first-child{
				font-size:16px;
				display: inline-block;
				padding-right:17px; 
			}
			p:last-child{
				font-size:16px;
				display: inline-block;
				padding-left: 17px;
			}
		}
	}
	.form{
		padding-bottom: 68px;
		.msg{
			textarea{
				width: 96%;
			}
		}
		.name-email{
			margin-top: 27px;
			form{
				[type=submit]{
					padding: 9px 26px;
					background: #2a2a2a;
					color: #fff;
					margin-left: 9px;
				}
				[type=text]{
					padding: 9px 26px;
					color: #000;
					text-transform: uppercase;
					width: 37%;
				}
			}

		}
	}
}
.related-produst-boss{
	h3{
		text-transform: uppercase;
	}
	.line{
		border-bottom: 2px solid #e2e2e2;
		margin-right: 90px;
		margin-bottom: 30px;
		margin-top: 12px;
		&::after{
			content:"";
			border-bottom: 2px solid red;
			width: 4%;
			display: block;
		}
	}
	ul{
		position: relative;
		li{
			list-style-type:none;
			.rounded{
				width: 12px;
				height: 12px;
				background: red;
				position: absolute;
				bottom: 46px;
				right: 6px;
				border-radius: 50%;
			}
		}
	}
	.related-produst{
		display: flex;
		justify-content:space-between;
		.owl-item{
			.tab-pane{
				overflow: hidden;
				margin-bottom: 29px;
				padding-bottom: 22px;
				border: 1px solid #f4f5f7;
				&:hover{
					.content_furniture{
						.view_buy{
							opacity:1;
							top: 206px;
							transition: 0.4s;
						}
					}
					.Aenean{
						p{
							color: red;
						}
						.furniture_sale{
							a:last-child{
								background:red;
							}
						}
					}
				}
				.content_furniture{
					background-color: #f4f5f7;
					padding-bottom: 221px;
					.sale{
						text-align: center;
						display: inline-block;
						border: 1px solid;
						width: 42px;
						height: 42px;
						border-radius: 50%;
						background-color: #000;
						position: relative;
						bottom: 18px;
						left: 105px;
						p{
							color: #fff;
							padding-top: 19px;
						}
					}
					.view_buy{
						position: relative;
						top: 300px;
						opacity: 0;
						z-index: 0;
						left: 6px;
						a:first-child{
							padding:8px 3px;
							background-color: #2a2a2a;
							color: #fff;
							text-decoration: none;
							margin-right: 10px;
							display: inline-block;
							margin-right: 51px;
							border-radius: 3px;
						}
						a:last-child{
							padding: 6px 0;
							background-color: #2a2a2a;
							color: #fff;
							text-decoration: none;
							text-transform: uppercase;
							display: inline-block;
							font-size: 14px;
							border-radius: 3px;
							img{
								width: 15%;
								display: inline-block;
								font-size: 5px;
							}
						}
					}
				}
				.Aenean{
					z-index: 1;
					.text-center{
						text-align: center;
						padding-top: 8px;
					}
					.star_rate{
						text-align: center;
						padding-bottom: 8px;
					}
					.Aenean_border{
						margin: 0 12px;
						border-bottom: 1px solid #000;
						.Aenean_border1{
							border-bottom: 2px solid red;
							margin: 0 100px;
							margin-top: 7px;	
						}
					}
					.furniture_sale{
						margin-top:34px;
						a:first-child{
							border:1px solid #000;
							padding:5px 9px;
							margin-left: 10px;
						}
						a:nth-child(2){
							border:1px solid #000;
							padding:5px 9px;
						}
						a:last-child{
							border:1px solid;
							padding:9px 13px;
							background: #000;
							color: #fff;
							margin-left: 78px;
							font-weight: bold;
							text-decoration: none;
						}
					}

				}
				
			}

		}
		.owl-dots{
			position: absolute;
			right: 5px;
			top: -42px;
		}
		.owl-nav{
			display: none;
		}
	}
}
.new-letter{
	background-color: #f2f2f2;
	form{
		display: flex;
		justify-content: center;
		padding: 36px 0;
		label{
			font-size: 22px;
			text-transform: uppercase;
			margin-right: 46px;
			margin-top: 12px;
			color: #3b5998;
		}
		.input-from{
			border: 1px solid #fff;
			display: inline-block;
			background-color: #fff;
			border-radius: 3%;
			span{
				border-right: 1px solid #2a2a2a;
				padding: 8px 15px;
			}
			input{
				height: 45px;
				width: 486px;
				border: none;

			}

		}
		button{
			padding: 16px;
			background-color: #fff;
			border: 1px solid #fff;
			border-radius: 14%;
			margin-left: 20px;
		}
	}
}
.footer-boss{
	background-color: #363636;
	.footer{
		display: flex;
		justify-content: space-between;
		.footer1{
			h5{
				font-size: 22px;
				color: #fff;
				padding-top: 61px;
				padding-bottom: 35px;
			}
			a{
				font-size: 14px;
				color:#898989;
				display: block;
				text-decoration: none;
				line-height: 1.5;
			}
			img{
				padding-top: 27px;
			}
		}
	}
}
.copyright-boss{
	background-color: #2a2a2a;
	box-shadow: 0px 7px 5px #000;
	.copyright{
		display: flex;
		justify-content: space-between;
		padding:42px 0;

		p{
			color: #a9a9a9;
		}
		.copyright-img{

			span{
				padding: 0 5px;
			}
		}
	}
}
/*end review*/
